.dark{
    background-color: rgb(9,9,9);
    color: rgb(200,200,200);
}

.light{
    background-color: rgb(200,200,200) ;
    color: rgb(9,9,9);
}

.Dashboard{
    display:flex;
    padding:2%;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    
}

.themer{
    width: fit-content;
    order:3;
    flex-basis: auto;
}