.user-card{
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 10pt;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width:30%;
    align-self: center;
    margin-top: 5%;
}
.user-card-name{
    color: black;
}